.titlebar {
  height: 32px;
  background: var(--md-border);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.titlebar-left {
  display: flex;
  align-items: center;
  height: 100%;
}

.titlebar-btn.sidebar-toggle-btn {
  width: 40px;
  color: #888;
}

.titlebar-btn.sidebar-toggle-btn:hover {
  color: #dadada;
}

.titlebar-controls {
  display: flex;
  height: 100%;
}

.titlebar-btn {
  appearance: none;
  border: none;
  background: transparent;
  color: var(--app-text);
  width: 46px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.1s;
}

.titlebar-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.titlebar-btn.close-btn:hover {
  background: #c42b1c;
  color: #fff;
}

.titlebar-btn.pin-btn {
  color: #888;
  width: 36px;
}

.titlebar-btn.pin-btn.active {
  color: #ffd600;
}

.titlebar-btn.pin-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}
