:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #dadada;
  background-color: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.textArea {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.1em;
  padding: 1em;
  background: #1e1e1e;
  color: #dadada;
  font-family: inherit;
}
