:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #dadada;
  background-color: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.textArea {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.1em;
  padding: 1em;
  background: #1e1e1e;
  color: #dadada;
  font-family: inherit;
}

.statisticsBar {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 1.5em;
  padding: 0.3em 0.8em;
  font-size: 0.8em;
  color: #dadada;
  font-family: inherit;
  background-color: #262626;
  pointer-events: none;
}

.titlebar {
  height: 30px;
  background: #329ea3;
  user-select: none;
  display: grid;
  grid-template-columns: auto max-content;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar > .controls {
  display: flex;
}
.titlebar button {
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  background-color: transparent;
}
.titlebar button:hover {
  background: #5bbec3;
}
